@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
.slick-arrow.slick-next::before{
 /* background-color: red;  */
color: black !important;
display: none;
}
 .slick-arrow.slick-prev::before{
    /* background-color: red; */
    display: none;
color: black; 
}
.slick-arrow.slick-prev{
    padding-bottom: 110px;
    
}
.slick-arrow.slick-next{
    padding-bottom: 110px;
}
/* .slick-next:before{
    content: '>' !important;
    background-image: url(../src/assests/fb.png);


} */
.bgSection{
     /* background-color: red;  */
     background-image: url('../src/assests/bgImg.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
     
 }
 .bgSection1{
    background-image: url('../src/assests/bgImg1.png');
    background-size: contain;
    background-position-y: center;
    /* background-position-x: ; */
    background-position: center; background-repeat: no-repeat  }
