@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow.slick-next::before{
 /* background-color: red;  */
color: black;}
 .slick-arrow.slick-prev::before{
    /* background-color: red; */
color: black; 
}
.slick-arrow.slick-prev{
    padding-bottom: 110px;
    
}
.slick-arrow.slick-next{
    padding-bottom: 110px;
}
.bgSection{
     /* background-color: red;  */
     background-image: url('../src/assests/bgImg.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
     
 }
 .bgSection1{
    background-image: url('../src/assests/bgImg1.png');
    background-size: contain;
    background-position-y: center;
    /* background-position-x: ; */
    background-position: center; background-repeat: no-repeat  }
